/** @format */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //  10px / 16px = 62.5% => 1rem = 10px
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}
